@import 'bootstrap/dist/css/bootstrap.css';

:root{
    --color-white:#ffffff;
    --color-light-gray:#f9f9fd;
    --color-dark-dark-blue: #1F2B45;
    --color-dark-blue:#374C7B;
    --color-gray-blue:#586070;
    --color-blue:#83AFBF;
    --color-light-blue: #C1E1EA;
    --color-light-ligth-blue:#E0EFF3;
    --color-orange:#E4A387;
    --color-dark-orande:#D1957B;
}

div input:not(:first-child){
    margin-top: 5%;
}
div input:last-child{
    margin-bottom: 5%;
}

input{
    width: 80%;
    padding: 2% 4% 2% 4%;
    border-radius: 9px;
    border-style: none;
    background-color: var(--color-light-blue);
    font-size: 0.9em;
    font-family:  'Snell Roundhand', cursive;
}

hr{
    /*margin: 0%;*/
    margin-bottom: 2%;
}

textarea{
    margin: 1% 0%;
    height: 40vh;
    background-color: var(--color-light-ligth-blue) !important;
}

p{
    margin: 0%;
}

img {
    vertical-align:baseline
}

.p-href{
    margin-top: 2%;
    font-size: 14px;
}