.base-page{
    margin: 0%;
    display: inline-block;
    width: 75%/*345px*/;
    height: 100vh;
}

.per-base-btn .div-btn:not(:first-child){
    margin-top: 5%;
}
.base-btn{
    background-color: #1F2B45;
    width: 50%;
    border-style: none !important;
    border-radius: 8px;
    color: #ffffff;
}

.base-btn:hover{
    background-color: #374C7B !important;
}