.navBar{
    margin: 0%;
    width: 25%/*345px*/;
    height: 100vh;
    background-color: #83AFBF;
    display: inline-block;
    float: right;

    box-shadow: -2px 1px 6px #586070
}

.navLogo{
    margin-top: 30%;
}

.navAuthBtn{
    margin-top: 35%;
}

.navUserName{
    display: block;
    width: 100%;
    margin-bottom: 0%;

    font-weight: bold;
    font-size: 1.3em;
    font-family:  'Georgia', serif;
}

.navaAcceessLevel{
    display: block;
    width: 100%;
    margin-top: 1%;

    font-size: 0.8em;
    font-family:  'Snell Roundhand', cursive;
}